@model CreateSaleDto

@{
    ViewData["Title"] = "CreateSale";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card shadow border-0">
    <div class="card-header bg-warning text-dark">
        <h5 class="mb-0">✏️ Yeni Ürün Ekle</h5>
    </div>

    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label asp-for="QUANTITY" class="form-label fw-semibold">Adet</label>
                <input asp-for="QUANTITY" class="form-control" type="number" />
            </div>

            <div class="mb-3">
                <label asp-for="LISTPRICE" class="form-label fw-semibold">Liste Fiyatı</label>
                <input asp-for="LISTPRICE" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="SALESPRICE" class="form-label fw-semibold">Satış Fiyatı</label>
                <input asp-for="SALESPRICE" class="form-control" />
            </div>


            <div class="mb-3">
                <label asp-for="DISCOUNTRATE" class="form-label fw-semibold">İndirim Oranı</label>
                <input asp-for="DISCOUNTRATE" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="DATE" class="form-label fw-semibold">Satış Tarihi</label>
                <input asp-for="DATE" type="date" class="form-control" />
            </div>


            <div class="mb-3">
                <label asp-for="AMOUNT" class="form-label fw-semibold">Toplam Tutar</label>
                <input asp-for="AMOUNT" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="CUSTOMER_ID" class="form-label fw-semibold">Kategori</label>
                <select asp-for="CUSTOMER_ID" class="form-control" asp-items="@ViewBag.customers">
                    <option selected disabled>
                        Müşteri Seçiniz
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="PRODUCT_ID" class="form-label fw-semibold">Ürün</label>
                <select asp-for="PRODUCT_ID" class="form-control" asp-items="@ViewBag.products">
                    <option selected disabled>
                        Ürün Seçiniz
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Kaydet
            </button>
        </form>
    </div>
</div>
